.page {
  position: relative;
}

.introduce {
  position: relative;
  margin-top: 300px;
  z-index: 1;
}

.wave {
  vertical-align: top;
}

.infomation {
  padding-top: 500px;
  min-height: 100vh;
  background-color: #f3f4f5;
}

.left {
  margin: 0 7%;
  display: flex;
  justify-content: flex-start;
}

.right {
  margin: 0 7%;
  display: flex;
  justify-content: flex-end;
}